
  

    <h1 class="page-header"> Importation and file visualization </h1>




    <div class='row'>

      <form class="cadre col-lg-6 cadrespecial">
        <label> Select new (json) file </label>
        <p class="input-group">


          <input type="file" ngf-select ng-model="$ctrl.file" name="file">
          <span class="input-group-btn">
        <button  type="submit" class="btn btn-primary" ng-click="$ctrl.addFile()">Go</button>
      </span>
        </p>

      </form>


      <form class='cadre col-lg-6 cadrespecial'>
        <label> Select existing file</label>
        <input type="text" ng-model="$ctrl.nameFile">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.ChargerFichier()">Go</button>
      
      </form>

    </div>
    <div class="row">
      <table ng-if="$ctrl.onglet=='valide'">

        <thead>
          <tr>
            <th class="centre" colspan="2"> student information </th>
            <th class="centre" ng-repeat="choice in $ctrl.awesomeChoice |orderBy:'id'" colspan="{{choice.options.length}}"> {{choice.nom}} </th>
          </tr>

          <tr>
            <th>Last name</th>
            <th>First name</th>

            <th class="parasite" ng-repeat-start="choice in $ctrl.awesomeChoice |orderBy:'id'"> </th>
            <th ng-repeat-end ng-repeat="option in choice.options |orderBy:'id'"> <span uib-tooltip="min seat : {{option.place_min}} \n </br> max seat : {{option.place_maxi}}"> {{option.nom}} </span>              </th>

          </tr>
        </thead>

        <tr ng-repeat="student in $ctrl.awesomeStudent">
          <td ng-style="student.extra_case != 'rien' && {'background-color': 'yellow'}"> <span uib-tooltip="{{student.extra_case}}"> {{student.nom}}  </span></td>
          <td ng-style="student.extra_case != 'rien' && {'background-color': 'yellow'}"> <span uib-tooltip="{{student.extra_case}}"> {{student.prenom}} </span> </td>
          <!-- <th  ng-repeat="con in student.consultation |orderBy:['id_choix','id_option']"> 
      <span ng-if="con.arguments !== undefined"uib-tooltip="preference : {{con.preference}} argument : {{con.arguments}}" class = "argument"> {{con.bids}} {{con.id_option}} </span>
      <span ng-if="con.arguments == undefined"uib-tooltip="preference : {{con.preference}} "> {{con.bids}} {{con.id_option}} </span>
      </th> -->

          <th class="parasite" ng-repeat-start="con in student.consultation |orderBy:['id_choix','id_option']"> </th>
          <th ng-if="con.arguments !== undefined" class="argument">
            <span uib-tooltip=' preference : {{con.preference}}  argument : {{con.arguments}} ' class="argument">  {{con.bids}}  </span>
          </th>
          <th ng-if="con.arguments == undefined" ng-repeat-end>
            <span uib-tooltip="preference : {{con.preference}} "> {{con.bids}}   </span>
          </th>
          <!--
        <th ng-if="con.arguments !== undefined" class ="argument"  ng-repeat="con in student.consultation |orderBy:['id_choix','id_option']" > 
      <span uib-tooltip="preference : {{con.preference}} argument : {{con.arguments}}" class = "argument"> {{con.bids}} {{con.id_option}} </span>
      </th>
    <th ng-if="con.arguments == undefined" ng-repeat="con in student.consultation |orderBy:['id_choix','id_option']" > 
       <span uib-tooltip="preference : {{con.preference}} "> {{con.bids}} {{con.id_option}} </span>
      </th> -->


        </tr>



      </table>
    </div>
    <div class="row">


      <div class="cadre">

        <p> Legende </p>
        <ul>
          <li> <span class="argument"> Argument </span> </li>
          <li> <span style="background-color: yellow"> Special needs </span> </li>
        </ul>

      </div>

    </div>
