<div class="row">
  <form class="col-lg-4">
    <label> File name previously entered </label>
    <input type="text" ng-model="$ctrl.nameFile">
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.Charger()">go</button>
   <!--  <button type="submit" class="btn btn-primary">🔙</button> 
    <button type="submit" class="btn btn-primary">🔜</button> -->
  </form>

  <form class=' col-lg-4'>
    <!-- zone permettant d'indiquer le nom d'un fichier ou l'on veut sauvegarder l'état actuelle pour pouvoir le recharger plus tard -->
    <label> File name  </label>
    <input type="text" ng-model="$ctrl.nameFileOut">
    <button type="button" ng-click="$ctrl.saveCSV()"><a class="btn"  ng-href="{{ urla }}">Export to CSV</a> </button>

  </form>

    <form class=' col-lg-4'>
    <!-- zone permettant d'indiquer le nom d'un fichier ou l'on veut sauvegarder l'état actuelle pour pouvoir le recharger plus tard -->
    <label> File name  </label>
    <input type="text" ng-model="$ctrl.nameFileOut">
    <button type="button" ng-click="$ctrl.saveJSON()"><a class="btn"  ng-href="{{ urla }}">Save to JSON</a> </button>

  </form>
</div>
<div class="row">


  <div class="cadre request_zone col-md-12">

    request zone  <!--{{total.request}}
    <br/> {{total.parse}} -->
    <br/>
    <span ng-repeat="(position,request) in $ctrl.request" ng-click="$ctrl.switchRequest(request,position)" ng-style="$ctrl.element_select.place == position && {'background-color': 'yellow'}"> {{request.label}} </span>
    <button type="submit" class="btn btn-primary btnemoji" ng-click="$ctrl.deleterequest()"> <span class="emoji" uib-tooltip="delete">✖️</span> </button>
    <br/>
    <form>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.operator('&&')">and</button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.operator('||')">or</button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.operator('&|')">and not </button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.operator('¬')">not </button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.parenthese('(')"> ( </button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.parenthese(')')"> ) </button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.changementOperator('<')"> < </button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.changementOperator('<=')"> <= </button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.changementOperator('=')"> = </button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.changementOperator('>')"> > </button>
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.changementOperator('>=')"> >= </button>
      <!-- <button type="submit" class="btn btn-primary" ng-click="$ctrl.doRequestNew(0)"> go </button> -->
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.noAffect(idchoix, choice.nom)" ng-repeat="(idchoix, choice) in $ctrl.choice"> not assigned({{choice.nom}}) </button>

    </form>

    <!-- <span ng-repeat=" (value, candidat)in $ctrl.choice[$ctrl.element_select.content.idparent]['option'][$ctrl.element_select.content.idoption]['affect'][$ctrl.element_select.content.critere]"> {{value}} </span> -->
    <span ng-if=" $ctrl.scale_of_value.bool== true"> <span ng-repeat="(value,people) in $ctrl.scale_of_value.content" ng-click="$ctrl.changeValue(value)"> {{value}} </span></span>
  </div>
</div>
<div class="row">

  <div id="choice" class="cadre col-md-4">

    <button type="button" ng-click="$ctrl.deplier('open')"> open all </button> <button type="button" ng-click="$ctrl.deplier('close')"> close all </button>

    <ul>
      <li class="tree" ng-repeat="(nameChoix,choix) in $ctrl.choice">
        <input class="openclose" type="checkbox" id="choix{{nameChoix}}" checked="checked" />
        <i class="fa fa-angle-double-right"></i>
        <i class="fa fa-angle-double-down"></i>
        <label for="choix{{nameChoix}}"> {{choix.nom}}</label>
        <ul>
          <li class="tree" ng-repeat="(nameOption, option) in choix.option">
            <input class="openclose" type="checkbox" id="option{{nameOption}}" checked="checked" />
            <i class="fa fa-angle-double-right"></i>
            <i class="fa fa-angle-double-down"></i>
            <label for="option{{nameOption}}">{{option.nom}}</label>

            <ul>
              <li class="tree" ng-repeat=" (nameValeur, valeur) in option.affect" ng-if="$ctrl.countSon(valeur) > 0 ">
                <input class="openclose" type="checkbox" id="{{nameOption}}{{nameValeur}}" checked="checked" />
                <i class="fa fa-angle-double-right"></i>
                <i class="fa fa-angle-double-down"></i>
                <label for="{{nameOption}}{{nameValeur}}" ng-click="$ctrl.choiceStudent(choix.nom, option, nameValeur, -1, nameChoix, nameOption) ">{{nameValeur}}</label>

                <ul>
                  <li ng-repeat="(nameValue, student)  in valeur" 
                    ng-mouseover="$ctrl.coloration(student,true)" ng-mouseleave="$ctrl.coloration(student,false)" ng-if="$ctrl.count(student) > 0 "  >
                    <input ng-if="nameValeur =='arguments' "  class ="case_argument" type="checkbox" ng-model="$ctrl.selectargument[nameOption][nameValue]['select'] " aria-label="Toggle ngShow">
                    <span ng-if="nameValeur =='arguments' "  uib-tooltip ="{{$ctrl.tooltipStudent(nameOption,nameValue,nameValeur)}} "ng-click="$ctrl.choiceStudent(choix.nom, option, nameValeur, nameValue, nameChoix, nameOption) ">
                    ({{$ctrl.count(student)}}) {{nameValue}}   
                    </span>

                    <span ng-if="nameValeur !='arguments' " ng-click="$ctrl.choiceStudent(choix.nom, option, nameValeur, nameValue, nameChoix, nameOption) ">
                    ({{$ctrl.count(student)}}) {{nameValue}}    
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
    </ul>
  </div>


  <div id="student" class="col-md-2 cadre">
    <button type="button" ng-click="$ctrl.selectAllStudent('select')"> select all </button> <button type="button" ng-click="$ctrl.selectAllStudent('close')"> deselect all </button>

    <ul dnd-list="list">
      <li ng-repeat="list in $ctrl.awesomeStudent " dnd-draggable="list" dnd-moved="list.splice($index, 1)" dnd-effect-allowed="move"
        ng-style="list.color == true && {'background-color': 'yellow'}">
        <input type="checkbox" ng-model="list.select" aria-label="Toggle ngShow"> {{list.prenom}} {{list.nom}} </li>
    </ul>
  </div>
  <!--  dnd-type="list.type"  -->
  <div id="panier" class="col-md-6 cadre">


    <span>Assignment : all  <input type="checkbox" ng-model="all_panier" > </span>
    <span ng-repeat="(ChoiceName, choice) in $ctrl.choice">
    {{choice.nom}} <input type="checkbox" ng-model="choice.visible" aria-label="Toggle ngShow"></span>

    <div ng-repeat="(idchoix, choice) in $ctrl.choice" ng-show="choice.visible || all_panier ">
      <div class=" cadre dropzone box box-yellow">

        <h3 class="panel_title"> {{choice.nom}}
          <!-- <button type="button" ng-click="$ctrl.assistantBid(idchoix)"> help me for bid </button> --></h3>

          <div class="row particulier">
            <div ng-repeat="(idoption,option) in choice.option" class="cadre container-element box box-blue col-lg-5 choix " ng-style="option.max - $ctrl.countStudentAffect(option.affect_real) == 0 && {'opacity': '0.5'}">

              <h4> {{option.nom}}</br>
                {{option.max}} <span class="emoji" uib-tooltip="#seat"> 💺 </span> {{option.max - $ctrl.countStudentAffect(option.affect_real)}}
                <span class="emoji" uib-tooltip="free seat"> 🔵 </span> {{$ctrl.countStudentAffect(option.affect_real)}}
                <span class="emoji" uib-tooltip="occuped seat">🔴</span>
                </br>
                <span class="emoji" uib-tooltip="clearing-bids"> {{$ctrl.calculClearing(idoption,idchoix,option.max - $ctrl.countStudentAffect(option.affect_real),'bids')}} 💰</span>                <span class="emoji" uib-tooltip="clearing-pref"> {{$ctrl.calculClearing(idoption,idchoix,option.max - $ctrl.countStudentAffect(option.affect_real),'pref')}}💗</span>
              </h4>

              <div class="cadrebis container-element box box-blue" ng-repeat="(type, affect) in option.affect_real">
                <h5> {{type}} ({{$ctrl.countSimple(affect)}}) <button type="button" ng-click="$ctrl.selection(choice, affect,option.max,$ctrl.countStudentAffect(option.affect_real),idchoix)"> send here </button>
                </h5>
                <ul dnd-list="affect" dnd-drop="$ctrl.fctlog(item, idchoix)" dnd-disable-if="$ctrl.countStudentAffect(option.affect_real)>= option.max">
                  <!-- dnd-allowed-types="choice.allowedTypes" -->
                  <li ng-repeat="item in affect">

                    <div class="item" uib-tooltip="{{item.label}}"> {{item.prenom}} {{item.nom}}
                      <button type="submit" class="btn btn-primary btnemoji" ng-click="$ctrl.removeAffect(item,$index,affect)"> <span class="emoji " uib-tooltip="delete">✖️</span></button>
                      <button
                        ng-if="item.label != ''" type="submit" class="btn btn-primary btnemoji" ng-click="$ctrl.playRequest(item.request)">
                      <span class="emoji " uib-tooltip="replay request">🔄</span></button><br/> <input class="information"
                          type="text" ng-model="item.information"> </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>

</div>