.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}


/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */

 
.dropzone ul[dnd-list] {
    margin: 0px;
    min-height: 42px;
    padding-left: 0px;
}

.dropzone li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dropzone .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

/***************************** Element Selection *****************************/

.dropzone .selected . {
    color: #3c763d;
    background-color: #dff0d8;
}

.dropzone .selected .box {
    border-color: #d6e9c6;
}

.dropzone .selected .box > h3 {
    background-color: #dff0d8;
    background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
    border-color: #d6e9c6;
    color: #3c763d;
}

/***************************** Element type specific styles *****************************/

.dropzone  {
    padding: 5px ;

}

.dropzone .container-element {
    margin: 10px;
}

.dropzone .container-element .column {
    float: left;
    width: 50%;
}

/***************************** Toolbox *****************************/

.toolbox ul {
    cursor: move;
    list-style: none;
    padding-left: 0px;
}

.toolbox button {
    margin: 5px;
    opacity: 1.0;
    width: 123px;
}

.toolbox .dndDragging {
    opacity: 0.5;
}

.toolbox .dndDraggingSource {
    opacity: 1.0;
}

/***************************** Trashcan *****************************/

.trashcan ul {
    list-style: none;
    padding-left: 0px;
}

.trashcan img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.trashcan .dndDragover img {
    width: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.trashcan .dndPlaceholder {
    display: none;
}
.btnbis{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;

    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
/*
.request_zone{
    background-color: cyan;
}

#choice{
   background-color: green;     
}

#student{
    background-color: red;
}

/*#panier {
    background-color: orange;
}*/



/* fonctionnel */
.tree input {
  display: none;
}
.tree input ~ ul {
 display: none;
}
.tree input:checked ~ ul {
 display: block;
}
.tree input ~ .fa-angle-double-down {
  display: none;
}
.tree input:checked ~ .fa-angle-double-right {
  display: none;
}
.tree input:checked ~ .fa-angle-double-down {
  display: inline;
}

/* habillage */
.tree li {
  display: block;
  font-family: 'Arial';
  font-size: 15px;
  padding: 0.2em;
  border: 1px solid transparent;
}

.cadrebis {
   border:  2px solid black;
}

h5 {
    background-color : #51C4B5;
    margin : 0 ;
}

.particulier{
    margin-right: -55px;
    margin-left:  5px;
}